<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MyTestSuite" parallel="tests" thread-count="3">
    <test name="ProductSearchTest">
        <classes>
            <class name="tests.ProductSearchTest"/>
        </classes>
    </test>

    <test name="AddToCartTest">
        <classes>
            <class name="tests.AddToCartTest"/>
        </classes>
    </test>

    <test name="PurchaseProductTest">
        <classes>
            <class name="tests.PurchaseProductTest"/>
        </classes>
    </test>
</suite>


